/*    
font-family: 'Big Shoulders Display', cursive;
font-family: 'Outfit', sans-serif; 
*/ 
body {
    font-size: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 915px;
    height: 500px;

    border-radius: 10px;
}

.segment > * {
    margin: 47px 70px 47px 47px;
}

.segment > svg {
    margin-top: 48px;
}

.headers {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 39px;
    color: white;

    margin-top: -15px;
}

#sedans {
    background-color: hsl(31, 77%, 52%);

    border-radius: 10px 0 0 10px;
}

#suvs {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);

    border-radius: 0 10px 10px 0;

    margin-left: -5px;
}

.description {
    font-family: 'Outfit', sans-serif;
    color: rgba(255, 255, 255, 0.74);
    line-height: 1.7;

    margin-top: -22px;    
}

.learn-btn {
    margin-top: 35px;
    height: 46px;
    width: 145px;

    border-radius: 50px;
    border: none;

    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: white;
}

.learn-btn:hover{
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
}

#sedans-btn {
    color: hsl(31, 77%, 52%);
}
#sedans-btn:hover {
    color: white;
}

#suvs-btn {
    color: hsl(184, 100%, 22%);
}
#suvs-btn:hover {
    color: white;
}

#luxury-btn {
    color: hsl(179, 100%, 13%);
}
#luxury-btn:hover {
    color: white;
}

@media (max-width: 750px) {
    .container {
        grid-template-columns: 1fr;
        max-width: 325px;
    }

    .segment {
        height: 440px;
    }

    #sedans {
        border-radius: 10px 10px 0 0;
    }
    #luxury {
        border-radius: 0 0 10px 10px;
        margin-left: 0;
    }

    .description {
        margin-bottom: -10px;
    }
  }
  
  

